<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demomonhoc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demomonhoc">
        <activity android:name=".lamphohanoi"></activity>
        <activity android:name=".phohanoi" />
        <activity android:name=".lamphonamdinh" />
        <activity android:name=".phonamdinh" />
        <activity android:name=".lammonphokhogialai" />
        <activity android:name=".phokhoGiaLai" />
        <activity android:name=".monpho" />
        <activity android:name=".lamcomgiadinh" />
        <activity android:name=".comgiadinh" />
        <activity android:name=".lamcomtam" />
        <activity android:name=".comtam" />
        <activity android:name=".lamcomsuon" />
        <activity android:name=".lambunthai" />
        <activity android:name=".lambunbohue" />
        <activity android:name=".comsuon" />
        <activity android:name=".moncom" />
        <activity android:name=".bunthai" />
        <activity android:name=".bunbohue" />
        <activity android:name=".bamgio" />
        <activity android:name=".lambuncua" />
        <activity android:name=".buncua" />
        <activity android:name=".monbun" />
        <activity android:name=".MENU" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>